<!DOCTYPE html>
<html>
<head>
	<title>{{{_sections.title}}}</title>
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.3.7/css/bootstrap.min.css">
	
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=vietnamese"
	 rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=vietnamese"
	 rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/font-awesome.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/bootstrap-3.3.7/fonts" type="text/font">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/basket.css">
	{{{_sections.css}}}
</head>
<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1 id="index">
					<a href="/home"><img src="/images/logo.png" alt="logo.png"></a>
				</h1>
			</div>
		
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<form class="navbar-form navbar-right" id="frmSearch" role="search" method="post" action="/product/search">
				<div class="form-group">
					<select id="Type_R" class="form-control" name="type">
						<option value="0">Tên</option>
						<option value="1">Nhà sản xuất</option>
					</select>
					<input id="Search_R" type="text" name="search" class="form-control" placeholder="Search" value="">
					<input style="display: none;" id="Page_R" type="text" name="page" class="form-control" value="0">
					<button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-search"></span></button>
				</div>
				</form>
				<ul class="nav navbar-left">
					<li>
						<ul class="nav navbar-nav main-menu">
						<li class="balo">
							<a href="/product/byCat/balo/noBrand">Ba lô</a>
						</li>
						<li class="balo tuixach">
							<a href="/product/byCat/bag/noBrand">túi xách</a>
						</li>
						{{{_sections.bookmark}}}
						{{#if layoutVM.isLogged}}
						<form id="frmLogout" method="post" action="/account/logout"></form>
						<li class="dropdown">
							<button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Account <b class="caret"></b></button>
							<ul class="dropdown-menu account_dropdown">
								{{#if layoutVM.isAdmin}}
								<li><a href="/admin">Dashboard</a></li>
								{{else}}
								<li><a href="/account/profile">Profile</a></li>
								<li><a href="/bill">Lịch sử mua hàng</a></li>
								{{/if}}
								<li role="separator" class="divider"></li>
								<li><a id="lnkLogout" href="javascript:;">Đăng xuất</a></li>
								<li></li>
							</ul>
						</li>
						{{else}}
							<li><a href="/account/register">Đăng ký</a></li>
							<li><a href="/account/login">Đăng nhập</a></li>
						{{/if}}
						</ul>
					</li>
				</ul>
			</div>
		</div>
		</nav>
	</header>
	
	<div class="toTop"><i class="glyphicon glyphicon-menu-up"></i></div>
		<a href="/cart" class="menu-basket myCart">
			<i class="fa fa-shopping-basket"></i>
			Giỏ hàng
		</a>
	<!--{{#if layoutVM.isLogged}}-->
	<!--{{/if}}-->
	
	<div class="main">
		<section class="slogan">
			<div class="container wrap-slogan">
				<div class="row">
					<div class="col-md-3">
						<img src="/images/giao-hang.png" alt="giao-hang">
					</div>
					<div class="col-md-3">
						<img src="/images/doi-tra.png" alt="doi-tra">
					</div>
					<div class="col-md-3">
						<img src="/images/hoan-tien.png" alt="hoan-tien">
					</div>
					<div class="col-md-3">
						<img src="/images/thanh-toan.png" alt="thanh-toan">
					</div>
				</div>
			</div>
		</section>
	</div>
	{{!-- end header --}}
	{{{body}}}
	{{!-- start footer --}}
	<section class="brand-products">
		<div class="title">
			<h3>Thương hiệu</h3>
			<div class="line"></div>
		</div>
		<div class="container brand-products">
			<div class="row" id="brand-products">
				<div class="col-md-2">
					<ul class="brand-list">
						<li>
							<a href="#">Adidas
							</a>
						</li>
						<li>
							<a href="#">AGVA
							</a>
						</li>
						<li>
							<a href="#">Aquamira
							</a>
						</li>
						<li>
							<a href="#">ARCTERYX
							</a>
						</li>
						<li>
							<a href="#">Armani
							</a>
						</li>
						<li>
							<a href="#">Beatas
							</a>
						</li>
						<li>
							<a href="#">Benro
							</a>
						</li>
						<li>
							<a href="#">Bianchi
							</a>
						</li>
						<li>
							<a href="#">Bouncie
							</a>
						</li>
						<li>
							<a href="#">Burton
							</a>
						</li>
						<li>
							<a href="#">Cabinzero
							</a>
						</li>
						<li>
							<a href="#">Cartinoe
							</a>
						</li>
						<li>
							<a href="#">Case Logic
							</a>
						</li>
						<li>
							<a href="#">Coleman
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="brand-list">
						<li>
							<a href="#">Crumpler
							</a>
						</li>
						<li>
							<a href="#">DC
							</a>
						</li>
						<li>
							<a href="#">Đậm
							</a>
						</li>
						<li>
							<a href="#">EastPak
							</a>
						</li>
						<li>
							<a href="#">Epoch
							</a>
						</li>
						<li>
							<a href="#">Famous General
							</a>
						</li>
						<li>
							<a href="#">Fjallraven
							</a>
						</li>
						<li>
							<a href="#">Haglofs
							</a>
						</li>
						<li>
							<a href="#">Herringbone
							</a>
						</li>
						<li>
							<a href="#">Herschel
							</a>
						</li>
						<li>
							<a href="#">Heys
							</a>
						</li>
						<li>
							<a href="#">Ikea
							</a>
						</li>
						<li>
							<a href="#">Jack Wolfskin
							</a>
						</li>
						<li>
							<a href="#">Jansport
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="brand-list">
						<li>
							<a href="#">K Swiss
							</a>
						</li>
						<li>
							<a href="#">Kakashi
							</a>
						</li>
						<li>
							<a href="#">Levis
							</a>
						</li>
						<li>
							<a href="#">Loops
							</a>
						</li>
						<li>
							<a href="#">Loqi
							</a>
						</li>
						<li>
							<a href="#">Lowe Alpine
							</a>
						</li>
						<li>
							<a href="#">Lowepro
							</a>
						</li>
						<li>
							<a href="#">Manut
							</a>
						</li>
						<li>
							<a href="#">Marc By Marc Jacob
							</a>
						</li>
						<li>
							<a href="#">Meganine
							</a>
						</li>
						<li>
							<a href="#">Michael Kors
							</a>
						</li>
						<li>
							<a href="#">Mikkor
							</a>
						</li>
						<li>
							<a href="#">Monsac
							</a>
						</li>
						<li>
							<a href="#">Mountainsmith
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="brand-list">
						<li>
							<a href="#">Nemtrecha
							</a>
						</li>
						<li>
							<a href="#">Nike
							</a>
						</li>
						<li>
							<a href="#">Oakley
							</a>
						</li>
						<li>
							<a href="#">Ofiyaa
							</a>
						</li>
						<li>
							<a href="#">Oiwas
							</a>
						</li>
						<li>
							<a href="#">Oops
							</a>
						</li>
						<li>
							<a href="#">Outdoor
							</a>
						</li>
						<li>
							<a href="#">Panviene
							</a>
						</li>
						<li>
							<a href="#">Parkland
							</a>
						</li>
						<li>
							<a href="#">Porsche Design
							</a>
						</li>
						<li>
							<a href="#">Prince
							</a>
						</li>
						<li>
							<a href="#">Puma
							</a>
						</li>
						<li>
							<a href="#">Rivacase
							</a>
						</li>
						<li>
							<a href="#">Rovigo
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="brand-list">
						<li>
							<a href="#">Roxy
							</a>
						</li>
						<li>
							<a href="#">Sakos
							</a>
						</li>
						<li>
							<a href="#">Satadi
							</a>
						</li>
						<li>
							<a href="#">Seliux
							</a>
						</li>
						<li>
							<a href="#">Sena
							</a>
						</li>
						<li>
							<a href="#">Sherpani
							</a>
						</li>
						<li>
							<a href="#">Simplecarry
							</a>
						</li>
						<li>
							<a href="#">Solo
							</a>
						</li>
						<li>
							<a href="#">Soure
							</a>
						</li>
						<li>
							<a href="#">Sprayground
							</a>
						</li>
						<li>
							<a href="#">SRSLY
							</a>
						</li>
						<li>
							<a href="#">STM
							</a>
						</li>
						<li>
							<a href="#">Superdry
							</a>
						</li>
						<li>
							<a href="#">Targus
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="brand-list">
						<li>
							<a href="#">The Healthy Back Bag
							</a>
						</li>
						<li>
							<a href="#">Timberland
							</a>
						</li>
						<li>
							<a href="#">Timbuk2
							</a>
						</li>
						<li>
							<a href="#">Trangoworld
							</a>
						</li>
						<li>
							<a href="#">Travel Blue
							</a>
						</li>
						<li>
							<a href="#">Travel Star
							</a>
						</li>
						<li>
							<a href="#">Trexta
							</a>
						</li>
						<li>
							<a href="#">Trunki
							</a>
						</li>
						<li>
							<a href="#">Tucano
							</a>
						</li>
						<li>
							<a href="#">Túi
							</a>
						</li>
						<li>
							<a href="#">Under Armour
							</a>
						</li>
						<li>
							<a href="#">Venque
							</a>
						</li>
						<li>
							<a href="#">Victorinox
							</a>
						</li>
						<li>
							<a href="#">Vivache
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4 stores content">
					<h3 class="title">Hệ thống cửa hàng</h3>
					<p>
						<p>CH1: 55C Trần Nhật Duật, P.Tân Định, Q.1, HCM</p>
						<p>CH2: 25/22 Tôn Thất Tùng, P.Phạm Ngũ Lão, Q.1, HCM</p>
						<p>CH3: 34 Trần Quang Diệu, P.14 Q.3, HCM</p>
						<p>CH4: 968 Cách Mạng Tháng 8, P.5 Q.Tân Bình, HCM</p>
					</p>
				</div>
				<div class="col-md-2 info content">
					<h3 class="title">thông tin</h3>
					<p>
						<p>
							<a href="#">Hệ thống cửa hàng</a>
						</p>
						<p>
							<a href="#">Tuyển dụng</a>
						</p>
						<p>
							<a href="#">Tin tức</a>
						</p>
					</p>
				</div>
				<div class="col-sm-3 customer-serivce content">
					<h3 class="title">hỗ trợ khách hàng</h3>
					<p>
						<p>
							<a href="#">Chính sách đổi trả</a>
						</p>
						<p>
							<a href="#">Chính sách vận chuyển</a>
						</p>
						<p>
							<a href="#">Chính sách bảo hành</a>
						</p>
						<p>
							<a href="#">Hình thức thanh toán</a>
						</p>
						<p>
							<a href="#">Hướng dẫn mua hàng</a>
						</p>
						<p>
							<a href="#">Thông tin bảo mật</a>
						</p>
					</p>
				</div>
				<div class="col-sm-3 contact content">
					<h3 class="title">Liên hệ</h3>
					<p>
						<p>GỌI MUA HÀNG: 1800 6198</p>
						<p>GÓP Ý, KHIẾU NẠI: 1800 6196</p>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<div class="footer-bottom">
		<div class="container">
			<p>
				<i class="fa fa-copyright"></i>Copyright 2016 Balohanghieu.com. All rights reserved.
			</p>
		</div>
	</div>
	{{!-- end --}}
	
	<script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/assets/js/jlib.js"></script>
	<script type="text/javascript" src="/assets/js/account.js"></script>
	<script type="text/javascript" src="/assets/js/product.js"></script>
	<script type="text/javascript">
		$('#lnkLogout').on('click', function() {
			alert("ban co muong log out");
			$('#frmLogout').submit();
		});
	</script>
	{{{_sections.js}}}
</body>
</html>