html, body {
  overflow-x: hidden;
}
body {
font-size: 18px;
background: #fdfdfd;
font-family: "Roboto", Tahoma, Arial, Sans-Serif;
height: 100%;
margin: 0px;
padding: 0px;
}
form {
margin: 0;
}
a {
color: #333;
cursor: pointer;
}
a, a:focus {
outline: none;
text-decoration: none;
}
a:hover {
text-decoration: none;
  color: #0076a1;
}
input, input:focus {
  outline: none
}
#container .container {
  max-width: 1300px;
  height: auto;
  margin: auto;
}
#container .container-full {
  max-width: 1300px;
  height: auto;
  padding: 0px 15px;
  margin: auto;
}

body,h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

ul.sub-menu-items li a:focus {
  color: #fff !important;
}

.toTop {
  position: fixed;
  height: 40px;
  width: 70px;
  background: #fbeb1ca6;
  text-align: center;
  cursor:  pointer;
  right: 10px;
  bottom: 10px;
  z-index: 200;
  line-height: 40px;
  color: #a90d0d;
}

.menu-basket.toTop {
  bottom: 50%;
  background: #fbf16a73;
  width: 150px;
  height: 60px;
  left: 5px;
  line-height: 60px;
  color: #a90d0d;
  border-radius: 10px;
}

ul.sub-menu li {
  display: flex;
  padding: 5px;
  margin-left: 30px;
}

ul.sub-menu {
  background: rgb(228, 205, 205);
  color: #000;
  position: absolute;
  width: 1100px;
  min-height: 250px;
  z-index: 90;
  border-radius: 0 0 10px 10px;
  padding-top: 15px;
  display: none;
}

ul.sub-menu li {
  width: 100%;
}

ul.sub-menu li a {
  color: #000!important;
}

ul.sub-menu-items li:last-child {
  position: relative!important;
}

li.balo:hover .sub-menu {
  display: block;
}

ul.sub-menu-items li:hover a {text-decoration:  underline;}

ul.sub-menu p {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 40px;
  margin-bottom: 5px;
}

ul.sub-menu-items li a {
  text-transform: capitalize!important;
}

ul.nav.navbar-nav li a:hover {
  color: #ece837;
}

.item-child a {
  display: none;
}

.item-child.open a {
  display: block;
  padding: 5px 0px 5px 20px;
  font-size: 15px;
  color: #8d8d8d;
}

.sub-item_tuixach .a {
  display: block;
  padding-left: 25px;
  color: #8d8d8d;
  font-size: 14px;
  padding-top: 1px;
  padding-bottom: 4px;
}

.hide_ {
  background: black;
  opacity: .7;
}

li.divider {
  padding-bottom: 1px !important;
}

.dropdown.b_item.item-color ul li a {
  width: 40px;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.dropdown.b_item.item-color ul li {
  display: inline-block;
  margin: 2px;
  padding-left: 0px;
}

.dropdown.b_item.item-color ul.dropdown-menu {
  min-width: 330px;
  padding: 15px;
  text-align: left;
}


.col-md-3.side-bar .b_item i a {
  padding-left: 4px;
}

.dropdown.b_item.item-filter ul.dropdown-menu {
  min-width: 180px;
}

.dropdown.b_item.item-filter {
  float: right;
  right: 0px;
  margin-right: 0px;
}

.item-loop .price span.compare-price {
  font-size: 13px;
  color: #aaa;
  text-decoration: line-through;
}

.item-loop .price span.main-price {
  font-size: 13px;
}

.item-loop h3 {
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
}

.item-loop a.brand {
  color: #aaa;
  font-size: 13px;
  font-style: italic;
  font-family: "Times New Roman";
  display: block;
  padding: 12px 0px 5px 0px;
}

.item-loop a.wrap-image img {
  max-width: 100%;
  max-height: 240px;
}

.item-loop {
  padding-top: 20px;
  max-width: 100%;
  position: relative;
  height: 350px;
}

.product-loop.col-md-3 {
  padding: 6px;
  text-align: center;
  border: 1px solid #fdfdfd;
}



.product-loop.col-md-3:hover {
  border: 1px solid #ccc;
}

a.wrap-image {display: flex;padding-top: 10px; align-items: center;height: 200.38px;}

/*span.percent {
  font-size: 12px;
  top: 0px;
  right: 0px;
  position: absolute;
  display: inline-block;
  color: #fff;
  background-color: #cc0100;
  padding: 3px 5px;
  border-radius: 5px;
}*/

.col-sm-3.contact.content p {
  color: white !important;
}

footer .infomation {
  padding-top: 30px;
  background-color: black;
}

hr {border-top: 1.5px solid #eee;}

.container.hotline .col-md-12 img {
  width: 100%;
}

footer .container.hotline {
  margin-top: 20px;
  margin-bottom: 30px;
}

footer .col-md-12.hotline {
  margin: 20px 0px;
}

.content p {
  color: black !important;
}

.col-md-4.stores.content p {
  color: white !important;
}

.content h2 {
  font-size: 20px;
  margin: 20px 0px;
} 

.item-price ul.dropdown-menu {
  min-width: 280px;
}

.dropdown-menu li {
  text-align: left;
  padding-bottom: 7px;
  padding-left: 20px;
}

label.checkbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  margin: 0px 10px;
}

.dropdown.b_item {
  display: inline-block;
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
}

.filter.clearfix {margin-bottom: 20px;position: relative;}

.navbar-left li {
  margin-right: 3px;
}

ul.nav.navbar-nav.navbar-left {
  width: 85%;
}


.col-md-3.slogan {
  text-align: center;
}

.price {
  color: #cc0100;
  font-weight: 700;
}

.best-seller .right-item {
  padding: 10px 0px 10px 10px;
  width: calc(100% - 100px);
  float: left;
  font-size: 13px;
}

.best-seller .left-item {
  width: 31%;
  float: left;
  clear: both;
}

.best-seller .left-item a img {
  max-width: 100%;
}

.best-seller {
  margin: 20px 0px 20px;
}

.best-seller h3 {
  font-size: 17px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 17px;
  padding-bottom: 5px;
}

.item-best-seller .right-item a{
  height: 40px;
}

.sub-item_balo a {
  display: block;
  padding-left: 25px;
  color: #8d8d8d;
  font-size: 14px;
  padding-top: 1px;
  padding-bottom: 4px;
}

.col-md-3.side-bar .b_item {
  text-align: left;
  font-size: 17px;
}

.breadcrumb {
  background-color: white;
  padding-left: 0px;
}

.breadcrumb li {
  display: inline;
  padding-right: 7px;
  font-size: 14px;
}

.breadcrumb ul {
  list-style: none;
}

.header_bottom {
  padding: 15px 0px 15px;
}


nav.navbar.navbar-inverse {
  margin: 0px;
  padding: 0px;
}


.col-md-6 {
  padding-top: 10px;
}

nav.navbar.navbar-inverse {
  background-color: black;
}

.header_menu {
  background-color: black;
}

i.fa.fa-search {
  position: absolute;
  right: 5px;
}

input.form-control {
  width: 100%;
  padding-right: 15px;
}

form {
  width: 100%;
  position: relative;
}

ul.right li {
  display: inline;
  padding-left: 20px;
  font-size: 12px;
  font-weight: bold;
}

ul.col-md-8.right {
  list-style: none;
  text-align: right;
}

.col-md-4.left {
  font-size: 14px;
  font-weight: bold;
}

nav.navbar.navbar-default {
  background: black;
}

.navbar-header {
  padding: 10px;
}

.navbar-header button {
  margin: 0 10px 0;
  background: #fbeb1c!important;
}

ul.nav.navbar-nav li a {
  color: #fff;
  font-family: arial;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

ul.nav.navbar-left {
  width: 100%;
}

.navbar-collapse.navbar-ex1-collapse.collapse.in, .navbar-collapse.navbar-ex1-collapse.collapsing {
  border: none;
  box-shadow:  none;
}

form.navbar-form.navbar-right {
  padding-top: 10px;
}

.contairner {
  max-width: 1100px!important;
}

ul.nav.navbar-nav.main-menu li:hover a {
  color: #fbeb1c;
}

.container.wrap-banner {
  text-align: center;
  margin-top: 20px;
}

.wrap-category.container {
  display: flex;
  justify-content: space-around;
}

.wrap-category.container .b_item {
  padding: 10px;
  border: 1px dashed #aaa;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

section.category {
  background: #dedede;
  padding: 20px;
  margin-top: 40px;
}

.b_item p {
  margin-top: 10px;
  font-weight: 600;
}

.b_item {
  text-align: center;
}

section.common-products .brand {
  font-style: italic;
  font-size: 12px;
}

section.common-products .brand:hover a {
  text-decoration: underline;
  color: #4b4b4b!important;
}

.container.wrap-products .b_item p {
  font-size: 13px;
}

.container.wrap-products .b_item .money {
  color: #a90d0d;
}

.container.wrap-products .owl-prev, .container.wrap-products .owl-next {
  position: absolute;
  font-size: 46px;
  top: 46px;
  transform: translateY(50%);
}

.container.wrap-products .owl-next {
  right: -36px;
}

.container.wrap-products .owl-prev {
  left: -30px;
}

.container.wrap-products {
  margin-top: 40px;
}

.b_item:hover a img {
  opacity: .6;
}

.title .line {
  height: 1px;
  width: 100%;
  border-top: 1px dashed #aaa;
}

.title {
  position: relative;
}

.item-loop h3{
  height: 55px;
  display: inline-flex;
  text-align: center;
}

.title h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -12px;
  background: #fff;
  padding: 0 10px;
  text-transform: uppercase;
}

section.common-products, section.best-seller-products, .new-products, .brand-products {
  margin-top: 40px;
}

.brand-list {
list-style: none;
}

footer {
/* background: black; */
margin-top: 40px;
}

.content h3{
  color: yellow;
}

.brand-list li {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 5px;
}

.content .title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding-bottom:  20px;
  padding-top: 20px;
  border-top: 3px solid;
}

.content p, .content p a {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.stores p {
  font-style: italic;
}

.footer-bottom {
  background: #aaa;
  padding: 8px;
}

.footer-bottom .container p {
  text-align: center;
  color: #fff;
  font-size: 13px;
}

.wrap-slogan .row .col-md-3 {
  text-align: center;
}

ul.sub-menu li {
  display: flex;
  padding: 5px;
  margin-left: 30px;
}

ul.sub-menu {
  background: #eee;
  color: #000;
  position: absolute;
  width: 1100px;
  min-height: 250px;
  z-index: 90;
  border-radius: 0 0 10px 10px;
  padding-top: 15px;
  display: none;
}

ul.sub-menu li {
  width: 100%;
}


ul.sub-menu li a {
  color: #000!important;
}

ul.sub-menu-items li:last-child {
  position: relative!important;
}

li.balo:hover .sub-menu {
  display: block;
}

ul.sub-menu-items li:hover a {text-decoration:  underline;}

li.tuixach.balo .sub-menu {
  left: -69px!important;
}

ul.sub-menu p {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 40px;
  margin-bottom: 5px;
}

ul.sub-menu-items li a {
  text-transform: capitalize!important;
}

.panel-heading input {
  background: transparent;
  border:  none;
  margin-right: 20px;
}

.panel-heading input:hover {
  color: black;
}

.panel-footer input {
  background: transparent;
  border:  none;
  padding: 3px 15px;
  margin-right: 10px;
}

.panel-footer input:hover {
  border-bottom: 3px solid #77a565;
}

.panel-footer {
  min-height: 55px;
  text-align: center;
}

.display-none {
  display: none;
}

.display {
  position: fixed;
  left:  50%;
  transform: translateX(-50%);
  z-index: 200;
  top: 50px;
}

.panel-heading input {
  border-bottom: 3px solid;
  padding: 0 10px;
}

.panel-heading label {
  margin: 0;
}

.panel-heading {
  padding: 5px 20px;
}

.sub-item.form-group h3 {
  font-size: 16px;
  padding-top: 10px;
  font-weight: 600;
}

.btnCart{
  width: auto;
  height: 40px;
}

.btnCartWrap{
  padding: 0;
}

/* ==========================================================================
 Responsive CSS Desktop
 ========================================================================== */
@media only screen and (min-width: 1300px) {
#container .container, #container .container-full {
  width: 1300px;
}
ul.nav.navbar-nav.main-menu li:last-child {
    position: absolute;
    right: 0;
}
.form-group input {
  width: 100%;
}
}


/* ==========================================================================
 Responsive CSS Desktop
 ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
#container .container-full {
  width: 100%;
}

}


/* ==========================================================================
 Responsive CSS Landscape Tablet
 ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
#container .container-full {
  width: 100%;
}
.main-menu li:last-child {
    position: absolute;
    right: 0;
}
}


/* ==========================================================================
 Responsive CSS Portrait Tablet
 ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #container .container-full {
      width: 100%;
  }
  .main-menu li:last-child {
    position: absolute;
    right: 0;
}
}


/* ==========================================================================
 Responsive CSS Landscape Mobile
 ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header h1 {
      margin: 0 auto;
      text-align: center;
  }
}


/* ==========================================================================
 Responsive CSS Portrait Mobile
 ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
  
}

