/* ==========================================================================
   Do Hong Phuc
   ========================================================================== */

html, body {
    overflow-x: hidden;
}
body {
  font-size: 18px;
  background: #fdfdfd;
  font-family: "Roboto", Tahoma, Arial, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 0;
}
a {
  color: #333;
  cursor: pointer;
}
a, a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0076a1;
}
input, input:focus {
  outline: none
}
#container .container {
  max-width: 1300px;
  height: auto;
}
#container .container-full {
  max-width: 1300px;
  height: auto;
  padding: 0px 15px;
  margin: auto;
}
body,h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
nav.navbar.navbar-default {
    background: black;
}
.navbar-header {
    padding: 10px;
}

.navbar-header button {
    margin: 0 10px 0;
    background: #fbeb1c!important;
}

ul.nav.navbar-nav>li{
    padding: 10px 0;
}

.navbar-collapse.navbar-ex1-collapse.collapse.in, .navbar-collapse.navbar-ex1-collapse.collapsing {
    border: none;
    box-shadow:  none;
}
.contairner {
    max-width: 1100px!important;
}

ul.nav.navbar-nav .dropdown-menu li>h4{
  padding: 5px 5px 0 20px;
}

.menu{
  padding: 0;
}

.menu .heading{
  padding: 5px;
}

.menu .navbar-default{
  background: no-repeat;
}

.counter{
  background-color: #ff3c7e;
  border-radius: 50px;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  padding: 3px 5.5px;
  position: absolute;
  right: 17px;
  top: 2px;
}

footer {
  background: black;
}

.content h3{
    color: yellow;
}

footer {
    padding: 20px;
}

.content .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-bottom:  20px;
    padding-top: 20px;
    border-top: 3px solid;
}

.content p, .content p a {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}

.stores p {
    font-style: italic;
}

.footer-bottom {
    background: #aaa;
    padding: 8px;
}

.footer-bottom .container p {
    text-align: center;
    color: #fff;
    font-size: 13px;
}

.report .report-item{
  background-color: white;
  border: 1px solid #EFEFEF;
  text-align: center;
  align-items: center;
  margin: 5px;
  padding: 0;
}
.report .report-item .title{
  padding: 10px 0;
}

.report .report-item .report-number{
  background-color: #4F52BB;
  color: white;
}

.report-table{
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border: 1px solid #EFEFEF;
}









/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }
  .menu .navbar-header {
    float: none!important;
  }
}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }
  .menu .navbar-header {
    float: none!important;
  }
}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }
  .menu .navbar-header {
    float: none;
    }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }
    .menu .navbar-header {
    float: none!important;
    }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    
}